In [39]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [40]:
!pip install tld

Requirement already satisfied: tld in /usr/local/lib/python3.6/dist-packages (0.12.2)

In [41]:
df = pd.read_csv("urldata.csv")
df.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [42]:
df.describe(include = "all")

           Unnamed: 0  ...         result
count   450176.000000  ...  450176.000000
unique            NaN  ...            NaN
top               NaN  ...            NaN
freq              NaN  ...            NaN
mean    225087.500000  ...       0.231994
std     129954.761728  ...       0.422105
min          0.000000  ...       0.000000
25%     112543.750000  ...       0.000000
50%     225087.500000  ...       0.000000
75%     337631.250000  ...       0.000000
max     450175.000000  ...       1.000000

[11 rows x 4 columns]

In [43]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [44]:
df.head(10)

                         url   label  result
0     https://www.google.com  benign       0
1    https://www.youtube.com  benign       0
2   https://www.facebook.com  benign       0
3      https://www.baidu.com  benign       0
4  https://www.wikipedia.org  benign       0
5     https://www.reddit.com  benign       0
6      https://www.yahoo.com  benign       0
7   https://www.google.co.in  benign       0
8         https://www.qq.com  benign       0
9     https://www.amazon.com  benign       0

In [45]:
df.tail(10)

                                                      url      label  result
450166    http://businessmobilewebapp.com/jobi/dh/dhl.htm  malicious       1
450167  http://bishopinegypt.gdn/wp-database/wp-databa...  malicious       1
450168  http://boasecg7.beget.tech/cgi-bin/index/pcg/f...  malicious       1
450169              http://gangainsulations.com/alert/GD/  malicious       1
450170       https://qiumin.xyz/qiuminxy/o95j4uW4nr/5.php  malicious       1
450171        http://ecct-it.com/docmmmnn/aptgd/index.php  malicious       1
450172  http://faboleena.com/js/infortis/jquery/plugin...  malicious       1
450173  http://faboleena.com/js/infortis/jquery/plugin...  malicious       1
450174                             http://atualizapj.com/  malicious       1
450175  http://writeassociate.com/test/Portal/inicio/I...  malicious       1

In [46]:
missingdata = df.isnull()
for column in missingdata.columns.values.tolist():
    print(column)
    print (missingdata[column].value_counts())
    print("")

url
False    450176
Name: url, dtype: int64

label
False    450176
Name: label, dtype: int64

result
False    450176
Name: result, dtype: int64

In [47]:
from urllib.parse import urlparse
from tld import get_tld
import os.path

In [48]:
df['Url Length'] = df['url'].apply(lambda i: len(str(i)))
df.head()

                         url   label  result  Url Length
0     https://www.google.com  benign       0          22
1    https://www.youtube.com  benign       0          23
2   https://www.facebook.com  benign       0          24
3      https://www.baidu.com  benign       0          21
4  https://www.wikipedia.org  benign       0          25

In [49]:
df['host length'] = df['url'].apply(lambda i: len(urlparse(i).netloc))
df.head()

                         url   label  result  Url Length  host length
0     https://www.google.com  benign       0          22           14
1    https://www.youtube.com  benign       0          23           15
2   https://www.facebook.com  benign       0          24           16
3      https://www.baidu.com  benign       0          21           13
4  https://www.wikipedia.org  benign       0          25           17

In [50]:
df['path length'] = df['url'].apply(lambda i: len(urlparse(i).path))
df.tail(10)

                                                      url  ... path length
450166    http://businessmobilewebapp.com/jobi/dh/dhl.htm  ...          16
450167  http://bishopinegypt.gdn/wp-database/wp-databa...  ...          32
450168  http://boasecg7.beget.tech/cgi-bin/index/pcg/f...  ...          46
450169              http://gangainsulations.com/alert/GD/  ...          10
450170       https://qiumin.xyz/qiuminxy/o95j4uW4nr/5.php  ...          26
450171        http://ecct-it.com/docmmmnn/aptgd/index.php  ...          25
450172  http://faboleena.com/js/infortis/jquery/plugin...  ...         139
450173  http://faboleena.com/js/infortis/jquery/plugin...  ...         127
450174                             http://atualizapj.com/  ...           1
450175  http://writeassociate.com/test/Portal/inicio/I...  ...         118

[10 rows x 6 columns]

In [51]:
def fd_length(url):
    urlpath= urlparse(url).path
    try:
        return len(urlpath.split('/')[1])
    except:
        return 0

In [52]:
df['First Dir length'] = df['url'].apply(lambda i: fd_length(i))
df.tail()

                                                      url  ... First Dir length
450171        http://ecct-it.com/docmmmnn/aptgd/index.php  ...                8
450172  http://faboleena.com/js/infortis/jquery/plugin...  ...                2
450173  http://faboleena.com/js/infortis/jquery/plugin...  ...                2
450174                             http://atualizapj.com/  ...                0
450175  http://writeassociate.com/test/Portal/inicio/I...  ...                4

[5 rows x 7 columns]

In [53]:
df['tld'] = df['url'].apply(lambda i: get_tld(i,fail_silently=True))
df.head()

                         url   label  ...  First Dir length  tld
0     https://www.google.com  benign  ...                 0  com
1    https://www.youtube.com  benign  ...                 0  com
2   https://www.facebook.com  benign  ...                 0  com
3      https://www.baidu.com  benign  ...                 0  com
4  https://www.wikipedia.org  benign  ...                 0  org

[5 rows x 8 columns]

In [54]:
df[['url','tld']].tail()

                                                      url  tld
450171        http://ecct-it.com/docmmmnn/aptgd/index.php  com
450172  http://faboleena.com/js/infortis/jquery/plugin...  com
450173  http://faboleena.com/js/infortis/jquery/plugin...  com
450174                             http://atualizapj.com/  com
450175  http://writeassociate.com/test/Portal/inicio/I...  com

In [55]:
df=df.rename_axis('Index')
df.head()

                             url   label  ...  First Dir length  tld
Index                                     ...
0         https://www.google.com  benign  ...                 0  com
1        https://www.youtube.com  benign  ...                 0  com
2       https://www.facebook.com  benign  ...                 0  com
3          https://www.baidu.com  benign  ...                 0  com
4      https://www.wikipedia.org  benign  ...                 0  org

[5 rows x 8 columns]

In [56]:
def tld_length(tld):
    try:
        return len(tld)
    except:
        return -1

df['tld length'] = df['tld'].apply(lambda i: tld_length(i))

In [57]:
df.drop('tld',axis = 1,inplace=True)
df.head()

                             url   label  ...  First Dir length  tld length
Index                                     ...
0         https://www.google.com  benign  ...                 0           3
1        https://www.youtube.com  benign  ...                 0           3
2       https://www.facebook.com  benign  ...                 0           3
3          https://www.baidu.com  benign  ...                 0           3
4      https://www.wikipedia.org  benign  ...                 0           3

[5 rows x 8 columns]

In [59]:
df['count-'] = df['url'].apply(lambda i: i.count('-'))
df['count@'] = df['url'].apply(lambda i: i.count('@'))
df['count?'] = df['url'].apply(lambda i: i.count('?'))
df['count%'] = df['url'].apply(lambda i: i.count('%'))
df['count.'] = df['url'].apply(lambda i: i.count('.'))
df['count='] = df['url'].apply(lambda i: i.count('='))
df['count-http'] = df['url'].apply(lambda i : i.count('http'))
df['count-https'] = df['url'].apply(lambda i : i.count('https'))
df['count-www'] = df['url'].apply(lambda i: i.count('www'))

df.tail()

                                                      url  ... count-www
Index                                                      ...
450171        http://ecct-it.com/docmmmnn/aptgd/index.php  ...         0
450172  http://faboleena.com/js/infortis/jquery/plugin...  ...         0
450173  http://faboleena.com/js/infortis/jquery/plugin...  ...         0
450174                             http://atualizapj.com/  ...         0
450175  http://writeassociate.com/test/Portal/inicio/I...  ...         1

[5 rows x 17 columns]